@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --roxo-lavalux: #5d00e4;
}
.logo{
    font-family: 'Shrikhand', sans-serif;
    color: var(--roxo-lavalux);
}
.assinaturaOff{
    font-family: 'Shrikhand';
    background: var(--roxo-lavalux);
    height: 40px;
}
.barra-de-nav a{
    color: var(--roxo-lavalux);
    font-family: 'Shrikhand';
}
.vantagens{
    display: flex;
    flex-wrap: wrap;
}
.vantagensIndividuais{
    width: 42%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(23, 94, 168, 0.08);
    padding: 1rem;
}
.rodape{
    height: 100px;
    background-color: var(--roxo-lavalux);
    text-align: center;
    padding: 1rem;
}
.pesquisa{
    margin: 0 50px;
}
#assinaturaLavalux h1{
    margin: 1rem;
    background-color: rgba(23, 94, 168, 0.08);
    padding: 1rem 1.5rem;
    border-radius: 50%;
}
.botao{
    background-color: var(--roxo-lavalux);
    color: #fff;
}
.botao:hover{
    color: #000;
}
.btn-lavalux{
    --bs-btn-color: var(--roxo-lavalux);
    --bs-btn-border-color: var(--roxo-lavalux);
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg: var(--roxo-lavalux);
    --bs-btn-hover-border-color: var(--roxo-lavalux);
}
.caixa{
    background-color: rgba(23, 94, 168, 0.08);
    width: 35rem;
    height: 35rem;
    border-radius: 5rem;
}
#esqueciSenha{
    color: var(--roxo-lavalux);
}